body {

	text-align: center;
	font-family: RALEWAY;
	letter-spacing: 1px;
	margin: 0;
}
ttl {
	color:#0d2c40;
	font-weight: 400;
	font-size: 45px;
	margin: 0;
	


}
a {
	text-decoration: none;
	color: #f15b31;
	font-weight: 600;
	font-size: 18px;
	margin: 0 20px;
	color: #ffffff;

}
nr {
	color: #0d2c40;
	font-weight: 600;
	font-size: 20px;
}
p {
	font-family: 'Catamaran', sans-serif;
	line-height: 26px;
	font-size: 18px;
}

header {
	background-color: #F15B31;
	color: #ffffff;
	padding: 30px 20px;
	text-transform: uppercase;
}
 nav {
 	background-color: #00A6B3;
 	color: #ffffff;
 	padding: 20px 0;
 }

main {
	width: 850px;
	margin: 35px auto;
}

img {
	margin: 40px 8px 0 8px;

}

footer {
	text-transform: uppercase;
	padding: auto 20px;
	background-color: #0d2c40;
	color: white;
	font-size:  14px;
	letter-spacing: .08em;
	font-weight: 500;
	
}

.copyright {
	float: left;

}

.message {
	float: right;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;

}

.name {
	color: #f15b31;
	font-weight: 700;
	border-bottom: 2px solid transparent;	
}

a:hover {
	background-color:  white;
	color: black;

}


